*.smc~
*.png
bak/*
uberasm/asm/work/*
*.bak*.*
.ts
*.smc
*.sfc
sysLMRestore
*.dsc
*.msc
*.mw2
*.mwt
*.s16
*.srm
*.ssc
*.extmod
*.sym
amk/SPCs
amk/asm/SNES/bin/*
amk/asm/SNES/SongSampleList.asm
amk/asm/SNES/AMUndo.asm
